<nav class="nav">
  <div class="container">
    <div class="flex center justify-between">
      <div class="nav-img">
        <a href="index.html">
          <img src="../assets/images/logo-white.png" alt="logo-white" />
        </a>
      </div>
      <ul class="nav-list flex font-size-4">
        <li><a href="#">系列鏡框</a></li>
        <li><a href="locations.html">門市據點</a></li>
        <li><a href="#">部落格</a></li>
        <li><a href="#">常見問題</a></li>
      </ul>
    </div>
  </div>
</nav>
