.nav {
  background-color: #aa0601;
}
.nav-list a {
  color: white;
  transition: 0.2s;
  padding: 25px 12px;
  display: inline-block;
  width: auto;
}

.nav-list a:hover {
  background-color: #650300;
}
.nav ul {
  gap: 64px;
  text-align: center;
}
.nav-img {
  max-width: 80px;
}

@media (max-width: 576px) {
  .nav-img {
    width: 100%;
    margin: 15px;
  }
  .nav-list a {
    width: 100%;
  }
  .nav .container {
    padding: 0px;
  }
  .nav ul {
    width: 100%;
    gap: 0px;
  }
  .nav li {
    width: 50%;
    border: 1px solid white;
  }
  .nav .font-size-4 {
    font-size: 1rem;
  }
}
