input,
textarea {
  background-color: #fbf2f2;
  border: 1px solid black;
  padding: 6px 12px;
}
textarea {
  height: 136px;
}
label {
  margin-top: 16px;
}

.h2-alphabet {
  font-size: 3rem;
  font-style: italic;
  font-weight: 900;
  color: #aa0601;
}

.secondary-background {
  background-color: #fbf2f2;
}

.header {
  background-image: url("../assets/images/home-header.png");
  background-size: cover;
  background-position: center;
}
.header-text {
  color: #650300;
  height: 787px;
  text-align: right;
}

.header-text .font-size-1 {
  font-weight: 700;
}
.header-text .btn {
  margin-top: 4px;
}

.section-padding {
  padding: 5rem 0;
}

.server img {
  max-width: 83px;
}
.server .h3 {
  margin: 16px 0px 8px 0px;
}
.server .column {
  margin-top: 24px;
}

.coBranded {
  background-image: url(/GlassesShopWeb/assets/images/index-bg.png);
  background-size: cover;
}
.coBranded .h2 {
  color: #ffffff;
}
.coBranded-tittle {
  width: 100%;
  background-color: white;
  text-align: center;
}
.recommend {
  border: 1px solid #dee2e6;
  box-shadow: 0px 2px 6px #00000029;
  border-radius: 4px;
}
.recommend article {
  height: 205px;
  padding: 1rem;
}
.date {
  font-size: 14px;
  color: #707070;
  margin-top: auto;
}
.contact {
  background-color: #fbf2f2;
}
.contact form {
  margin-top: 8px;
}
.contact .btn {
  cursor: pointer;
  padding: 16px 0px;
  border: none;
  margin-top: 48px;
  width: 416px;
}

@media (max-width: 768px) {
  .header {
    background-image: url(/GlassesShopWeb/assets/images/home-header-sm.png);
    background-position: 0%;
    background-size: auto;
  }

  .classicList {
    flex-direction: column;
    align-items: center;
  }

  .contact .column {
    margin-top: 24px;
  }
}
@media (max-width: 576px) {
  .section-padding {
    padding: 2.5rem 0;
  }
  .contact .btn {
    margin-top: 24px;
    width: 100%;
  }
}
