<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <header class="header">
      <div class="container">
        <div class="header-text flex flex-column justify-center">
          <h2 class="font-size-3">Promise-Desert 2020 早春系列</h2>
          <h2 class="font-size-1">看得清，才能看得遠</h2>
          <div>
            <a class="btn font-size-4" href="#">立即購買</a>
          </div>
        </div>
      </div>
    </header>

    <section class="server secondary-background">
      <div class="container">
        <div class="section-padding">
          <h2 class="h2">用專業的心，做專業的事</h2>
          <ul class="row flex margin-top-1">
            <li class="column fourth">
              <div class="flex justify-center">
                <img
                  src="../assets/images/home-section2-1.png"
                  alt="home-section2-1"
                />
                <div>
                  <h3 class="h3">單一價格</h3>
                  <p>
                    無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。
                  </p>
                </div>
              </div>
            </li>
            <li class="column fourth">
              <div class="flex justify-center">
                <img
                  src="../assets/images/home-section2-2.png"
                  alt="home-section2-2"
                />
                <div>
                  <h3 class="h3">20 分鐘即可取件</h3>
                  <p>
                    為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快
                    20 分鐘即可完成。
                  </p>
                </div>
              </div>
            </li>
            <li class="column fourth">
              <div class="flex justify-center">
                <img
                  src="../assets/images/home-section2-3.png"
                  alt="home-section2-3"
                />
                <div>
                  <h3 class="h3">安心售後服務</h3>
                  <p>
                    我們提供長達 120
                    天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
                  </p>
                </div>
              </div>
            </li>
            <li class="column fourth">
              <div class="flex justify-center">
                <img
                  src="../assets/images/home-sectioin2-4.png"
                  alt="home-section2-4"
                />
                <div>
                  <h3 class="h3">關於鏡片</h3>
                  <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="section-padding">
          <h2 class="h2">經典系列鏡框</h2>
          <ul class="row flex classicList">
            <li class="column third">
              <div class="flex justify-center">
                <img
                  src="../assets/images/home-section3-1.png"
                  alt="home-sectioin3-1"
                />
                <h2 class="h2-alphabet">OPTICAL</h2>
              </div>
            </li>
            <li class="column third">
              <div class="flex justify-center">
                <img
                  src="../assets/images/home-section3-2.png"
                  alt="home-sectioin3-2"
                />
                <h2 class="h2-alphabet">SUNGLASSES</h2>
              </div>
            </li>
            <li class="column third">
              <div class="flex justify-center">
                <img
                  src="../assets/images/home-section3-3.png"
                  alt="home-sectioin3-3"
                />
                <h2 class="h2-alphabet">FUNCTIONAL</h2>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="coBranded">
      <div class="container">
        <div class="section-padding">
          <h2 class="h2">聯名設計鏡框</h2>
          <ul class="flex">
            <li class="column half noPadding">
              <div class="flex">
                <picture>
                  <source
                    media="(max-width:576px)"
                    srcset="../assets//images/home-section4-1-sm.png"
                  />
                  <img
                    src="../assets//images/home-section4-1.png"
                    alt="home-section4-1"
                  />
                </picture>

                <div class="coBranded-tittle">
                  <h2 class="h2-alphabet">DOUBLE A+</h2>
                </div>
              </div>
            </li>
            <li class="column half noPadding">
              <div class="flex">
                <picture>
                  <source
                    media="(max-width:576px)"
                    srcset="../assets//images/home-section4-2-sm.png"
                  />
                  <img
                    src="../assets//images/home-section4-2.png"
                    alt="home-section4-2"
                  />
                </picture>
                <div class="coBranded-tittle">
                  <h2 class="h2-alphabet">DOUBLE A+</h2>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section>
      <div class="section-padding">
        <div class="container">
          <h2 class="h2">顧客推薦</h2>
          <ul class="row flex">
            <li class="column fourth">
              <div class="recommend">
                <img
                  src="../assets//images/home-section5-1.png"
                  alt="home-section5-1"
                />
                <article class="flex flex-column">
                  <h3>Jessy</h3>
                  <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                  <time class="date" datetime="2021-06-20">2021/06/20</time>
                </article>
              </div>
            </li>
            <li class="column fourth">
              <div class="recommend">
                <img
                  src="../assets//images/home-section5-2.png"
                  alt="home-section5-2"
                />
                <article class="flex flex-column">
                  <h3>凱倫</h3>
                  <p>
                    做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！
                  </p>
                  <time class="date" datetime="2021-04-18">2021/04/18</time>
                </article>
              </div>
            </li>
            <li class="column fourth">
              <div class="recommend">
                <img
                  src="../assets//images/home-section5-3.png"
                  alt="home-section5-3"
                />
                <article class="flex flex-column">
                  <h3>悠悠</h3>
                  <p>
                    謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！
                  </p>
                  <time class="date" datetime="2020-12-25">2020/12/25</time>
                </article>
              </div>
            </li>
            <li class="column fourth">
              <div class="recommend">
                <img
                  src="../assets//images/home-section5-4.png"
                  alt="home-section5-4"
                />
                <article class="flex flex-column">
                  <h3>Kyuan</h3>
                  <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                  <time class="date" datetime="2020-10-31">2020/10/31</time>
                </article>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="contact">
      <div class="container section-padding">
        <h2 class="h2">聯絡我們</h2>
        <div class="flex justify-center">
          <div class="column half flex flex-column">
            <p class="font-size-4">
              我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
            </p>
            <form class="flex flex-column">
              <label for="name">姓名</label>
              <input type="text" name="name" id="name" placeholder="陳小明" />
              <label for="tel">聯絡電話</label>
              <input
                type="tel"
                name="tel"
                id="tel"
                placeholder="0912-345-678"
              />
              <label for="email">電子郵件</label>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="example@email.com"
              />
              <label for="opinion">意見反應</label>
              <textarea
                name="opinion"
                id="opinion"
                placeholder="請輸入您的意見"
              ></textarea>
              <label>
                <input type="checkbox" name="checkbox" id="checkbox" />
                我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。
              </label>
              <div class="flex justify-center">
                <input class="btn" type="submit" value="確定送出" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
