<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <!-- <%- include('./layout/header'); -%> -->

    <nav class="nav">
      <div class="container">
        <div class="flex center justify-between">
          <div class="nav-img">
            <img src="../assets/images/logo-white.png" alt="logo-white" />
          </div>
          <ul class="flex font-size-4">
            <li><a href="#">系列鏡框</a></li>
            <li><a href="#">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="#">常見問題</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="header">
      <div class="container">
        <div class="header-text flex flex-column justify-center">
          <h2 class="font-size-3">Promise-Desert 2020 早春系列</h2>
          <h2 class="font-size-1">看得清，才能看得遠</h2>
          <div>
            <a class="btn font-size-4" href="#">立即購買</a>
          </div>
        </div>
      </div>
    </header>
    <!-- <%- include('./layout/footer'); -%> -->

    <script type="module" src="../main.js"></script>
  </body>
</html>
